body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fcf9f4;
}

h1 {
  color: #878787;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  max-height: 900px;
  margin: 30 auto;
  margin-top: 5%;
  background-color: #ddeedf;
  box-shadow: 10px 5px 5px #f9c7cf;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
  line-height: 2;
}
.button {
  border-radius: 3px;
  display: block;
  margin-top: 1%;
  margin: 5px, 5px, 5px;
  padding: 1px 14px;
  background: transparent;
  border: 2px solid #ec6e4b;
  color: rgb(0, 0, 0);
  font-size: 15px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  box-shadow: rgba(9, 11, 69, 0.08) 0px 8px 8px 0;
}
.button:hover {
  color: #0c084c;
  background: #ec6e4b;
  border: 2px solid #ec6e4b;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb (33, 33, 33);
  font-size: 58px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  text-decoration: none;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.units {
  margin-top: -20px;
}

.units a {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-date img {
  height: 60px;
  width: 60px;
}
.weather-forecast-temperature {
  font-size: 14px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}

.open-source {
  margin-top: 5px;
}
