body {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  color: rgb(135, 135, 135);
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.weather-app {
  max-width: 600px;
  margin: 30 auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}
